@(annotations: List[Annotation], annotationForm: Form[Annotation])

@import helper._

@main("Annotations") {
  
  <h1>@annotations.size() Annotation(s)</h1>
  
  <ul>
    @for(annotation <- annotations) {
      <li><a href="@routes.Application.annotation(annotation.getId.toString)">Porte sur : @annotation.getAnnotated.getTitle</a>
      <div class="creationDate">Created at : @annotation.getCreationDate</div>
      <div class="content">@Html(annotation.getContent)</div>
     	<h2>Porte sur @annotation.getAnnotateds.size() sélection(s)</h2>
	  <div class="annotateds">
		<ul>
		@for(selection <- annotation.getAnnotateds) {
			<li>
			<div class="content">@Html(selection.getSelectedContent)</div>
			<div class="creationDate">@selection.getCreationDate</div>
			<div class="xpointerBegin">@selection.getPointerBegin</div>
			<div class="xpointerEnd">@selection.getPointerEnd</div>
			</li>
		}
		</ul>
	   </div>

      @form(routes.Application.deleteAnnotation(annotation.getId.toString)) {
                    <input type="submit" value="Delete">
                }
      </li>
    }
  </ul>
  
  <h2>Add a new Annotation</h2>
  
  @form(routes.Application.newAnnotation()) {
  	@inputText(annotationForm("title"), '_label -> "Title :")
     @textarea(
                annotationForm("content"), 
                '_label -> "Contenu ajouté", 'cols -> 50
            )
     @select(annotationForm("author.id"), 
        		options(UserAccount.options()),
        		'_default -> "--- Choose a user ---",
                '_label -> "User"
                )
     <input type="submit" value="Create">
  
  }

}