@(annotation: Annotation)

@import helper._

@main("annotation") {
 
<div id="zoneAnnotable"> 
  <h1>@annotation.getTitle</h1>
  
  <div class="ResourceContent" id="annotation-@annotation.getId">
  	@Html(annotation.getContent)
  </div>
</div>
  
  <h2>Porte sur : <a href="@routes.UserProfile.article(annotation.getAnnotated.getId.toString)">@annotation.getAnnotated.getTitle</a></h2>
  <div class="AnnotatedContent">
  	@Html(annotation.getAnnotatedContent)
  </div>

	<div class="author">
		autheur : @annotation.getAuthor.getNickname
	</div>
	
	<h3>Xpointers</h3>
	<div>Begin : @annotation.getPointerBegin </div>
	<div>End : @annotation.getPointerEnd </div>
}
