@(article: Article, annotations: List[Annotation], annotationForm: Form[Annotation], nbPages : Integer, currentPage : Integer)

@import helper._

@main(article.getTitle) {

	<script type="text/javascript">
		$().ready(function() 
		{
			var opts = {
				lang 			: 'fr',
				styleWidthCSS 	: false,
				height 			: 150,
				toolbar 		: 'compact',
				allowSource 	: false
			}	
			
			$("#AnnotationFormContent").elrte(opts);
			//$("#AnnotationFormReformulation").elrte(opts);
		});
	</script>

	<h1>@article.getTitle</h1>
  
	<div class="box_wide">
		<div class="meta_infos">
			le @article.getCreationDate.format("dd/MM/yyyy") par <a href="/user/@article.getAuthor.getNickname">@article.getAuthor.getNickname</a>
		</div>
	
		<div id="zoneAnnotable">
			<div class="ResourceContent" id="article-@article.getId">
				@Html(article.getContent)
			</div>
		</div>
		
		@if(article.getAuthor.getNickname.equals(session.get("nickname"))) {
			@form(routes.UserProfile.deleteArticle(article.getId.toString)) {
				<input type="submit" value="Supprimer l'article" class="btn">
			}
		}
		
		<h2>Ajouter une annotation</h2>
 
		<div class="formAnnotation">
			Titre : <br />
			<input type="text" id="AnnotationFormTitle" style="width:100%" /><br />
			Jugement : <br /><textarea id="AnnotationFormJgmt" cols="50" name="jugement"></textarea><br />
			Reformulation : <br /><textarea id="AnnotationFormReformulation" cols="50" name="reformulation"></textarea><br />
			Contenu de l'annotation : <br /><textarea id="AnnotationFormContent" cols="50" name="content"></textarea><br />
			<button class="btn btn-select" type ="button">S&eacute;lectionner</button>
		</div>
		
		<h2>Annotations : </h2>
		<ul>
		    @for((annotation, i) <- annotations.zipWithIndex) {
				@if(i % 2 == 0) {
					<li class="alt block">
				} else {
					<li class="block">
				}
				<div class="annotation" id="annotation-@annotation.getId">
					<h3><a href="/annotation/@annotation.getId">@annotation.getTitle</a></h3>
					<div class="meta_infos">par <a href="/user/@annotation.getAuthor.getNickname">@annotation.getAuthor.getNickname</a></div>
					
					<h4>Ce qui est dit :</h4>
					<div class="content">@Html(annotation.getContent)</div>
					<h4>Au sujet de :</h4>		
					<div class="annotatedContent">@Html(annotation.getAnnotatedContent)</div>
					
					@if(annotation.getAuthor.getNickname.equals(session.get("nickname"))) {
						@form(routes.UserProfile.deleteAnnotation(annotation.getId.toString)) {
							<input type="submit" value="Supprimer cette annotation" class="btn" />
						}
					}
					
					<button name="showRef" id="buttonAnnotation-@annotation.getId">Voir r&eacute;f&eacute;rence</button>
				</div>
			</li>
		}
		
		@if(nbPages > 0) {
			Pages :
			
			@for(i <- 0 until nbPages) {
				@if(i != currentPage) {
					<a href="/article/@article.getId/@i">@(i+1)</a>&nbsp;
				} else {
					@(i+1)&nbsp;
				}
			}
		} else {
			<p>Pas d'annotation.</p>
		}
		</ul>
	</div>

}

<script type="text/javascript">
$(document).ready(function($) {
	
// 	$("body").ajaxError(function(event, jqXHR, ajaxSettings, thrownError){
//             alert("ERROR : " + thrownError);
//             location.reload();
//         });
        
    	$btnSelect = $(".btn-select");
    	
    	/**
    	*	Node correspond au textNode dans laquelle est la sÈlection
    	*	Renvoi l'offset de la sÈlection par rapport au dÈbut du texte annotable
    	*/
    	function computeOffset(node, offset)
    	{
		var computedOffset = offset;
    		
    		var currentNode = node.previousSibling;

    		while(currentNode != null)
    		{
			computedOffset += currentNode.textContent.length;
    			currentNode = currentNode.previousSibling;
    		}
		//Tester si le pËre n'est pas une span d'annotation
		if(node.parentNode.id.indexOf("annotationSpan-") != -1)
		{
			computedOffset = computeOffset(node.parentNode, computedOffset);
		}
    		return computedOffset;
    	}

	//Pour r√©cup√©rer une s√©lection, un contenu et deux xpointers
	$btnSelect.click(function(event) {
	 	//recuperation de la selection en cours
        	var selection = window.getSelection();
		//v√©rifier que la s√©lection n'est pas vide
		if(selection.toString().length > 0)
                {
			var content = selection.toString();
			var currentUrl = window.location;
			//Test du Browser
			//TODO
			//XPOINTER Mozilla
			var xpointerStart;
                        var xpointerEnd;
                        
                        //Noeuds du d√©but et de la fin de la selection
                        var start_node = selection.anchorNode;//selection.startContainer;
                        var end_node = selection.focusNode;//selection.endContainer;
		        //Le nombre de caractere entre le noeud pere et le debut/fin de la selection
                        
                        var start_offset = computeOffset(start_node, selection.anchorOffset);
                       var end_offset = computeOffset(end_node, selection.focusOffset);
                       //Corrections des noeuds de d√©part et de fin        
                        var trueStartNode = start_node ;
                        var trueEndNode = end_node;
                            
                        /*Firefox ajoute des noeuds text pour entourer du texte, quand le noeud pere est du type text, 
                        *on reccupere le pere du noeud text
                        **/
                        if(start_node.nodeType == 3)
                        {
                        	trueStartNode = start_node.parentNode ;
                        }
                        if(end_node.nodeType == 3)
                        {
                        	trueEndNode = end_node.parentNode;
                        }
                                
                        //echange trueStartNode et trueEndNode quand le cas ou on fait une selection invers√© (on commence de la fin)
                        //cas ou le noeud de depart precede le noeud d'arrive
                        //ou bien le noeud de depart est contenu dans le noeud d'arrive 
			//Attention Áa ne couvre pas tous les cas... ‡ cause des span d'annotation ajoutÈes donc il faut un traitement cÙtÈ serveur
                        if(trueStartNode.compareDocumentPosition(trueEndNode) == 2 || 
                           trueStartNode.compareDocumentPosition(trueEndNode) == 10)
                        {
                        	var tmp = trueStartNode;
                        	trueStartNode = trueEndNode;
                        	trueEndNode = tmp;
		                tmp = start_offset;
		                start_offset = end_offset;
		                end_offset = tmp;
                        }
                        //cas ou on fait une selection invers√© dans une meme balise
                        else if(trueStartNode.compareDocumentPosition(trueEndNode) == 0 && start_offset > end_offset)
                        {
		                var tmp = start_offset;
		                start_offset = end_offset;
		                end_offset = tmp;
                        }
			//v√©rifier que les deux noeuds sont bien dans une zone annotable (fils du noeud d'id : zoneAnnotable)
			var testStart = testAnnotable(trueStartNode);
			if(testStart)
			{
				var testEnd = testAnnotable(trueEndNode);
				if(testEnd)
				{
				        xpointerStart = makeXpointer(currentUrl, trueStartNode, start_offset);
				        xpointerEnd = makeXpointer(currentUrl, trueEndNode, end_offset);
					
					var iframe = $("iframe").contents();					
					$textAreaContent = $(iframe).find("body").html();
					var annotationContent = $textAreaContent;
					//alert(annotationContent);

					$reform = $("#AnnotationFormReformulation");
					var reformulation = $reform.val();

					$title = $("#AnnotationFormTitle");
					var annotationTitle = $title.val() ;
					$jgt = $("#AnnotationFormJgmt");
					var jugement = $jgt.val();
					if(annotationContent.length == 0) alert("Veuillez saisir le contenu de votre annotation");
					else //cr√©ation de l'annotation 
					{
						var annotatedId = $("div[id^='article-']").attr("id").substring(8);
						$.ajax({
					                type: 'POST',
					                url: "@routes.UserProfile.newAnnotationJgtJson()",
							contentType: "application/json; charset=UTF-8",
                					data: JSON.stringify({"pointerBegin":xpointerStart , "pointerEnd":xpointerEnd, "annotatedContent":content, "content":annotationContent, "title":annotationTitle, "annotatedId":annotatedId, "jugement":jugement, "reformulation":reformulation}),
                					success: function(){
                    					location.reload();
                						}
            						})
					}
				}
				else alert("s√©lection non valide");
			}
			else alert("s√©lection non valide");
		}
		else alert("Veuillez s√©lectionner une partie de l'article.");
	});
/*
* V√©rifie que le noeud est bien un fils du noeud d'id zoneAnnotable
**/
	function testAnnotable(node)
	{
		while(node.id != "zoneAnnotable")
		{
			node = node.parentNode ;
			if(node.nodeName == 'BODY') return false ;
		}
		return true ;
	}

	/*
	*
	*Format d'un xPointer: 
	*url_courant#xpointer(id('idNoeudPere')/chemin/des/peres, nbCaractereEntreNoeudEtSelection)
	*ou si on ne trouve pas d'id de reference:
	*url_courant#xpointer(body/chemin/des/peres, nbCaractereEntreNoeudEtSelection)
	*
	**/
                        
	//parametre: url courant, node de depart pour le calcul du xpointer et le offset (nb caractere entre node et le debut de la selection)
	function makeXpointer(url, node, offset)
	{
		 var xpointer = url+"#xpointer(";
		// var idNode = -1;
		var idNode = node.id;
		var path = "";
		var nbPreviousSiblings = 0;
		var previousNode;
		//tant qu'on ne trouve pas de noeud avec un id et il faut ignorer les id des span annotÈes
		while(idNode == "" || idNode == -1 || idNode.indexOf("annotationSpan-") != -1)
		{
			previousNode = node;
			//ignorer les span d'annotation
			if(idNode.indexOf("annotationSpan-") == -1)
			{
				//calcul de la position du noeud actuel par rapport a son pere
				nbPreviousSiblings = $(previousNode).prevAll().length;
				path = "/" + nbPreviousSiblings + path;
			}
			node = previousNode.parentNode;
			
			//si le noeud actuel est la balise body on break la boucle car on est arriv√© au bout sans trouver d'id
			if(node.nodeName == 'BODY')
			{
				break;
			} 
			
			idNode = node.id;
		}
		
		if(node.nodeName == 'BODY')
		{
		    xpointer = xpointer + "body"
		}
		else
		{
		    xpointer = xpointer + "id('" + idNode + "')";
		}
		xpointer = xpointer + path + "," + offset + ")";
		return xpointer;
	}
                            
	$("button[id^='buttonAnnotation-']").click(function()
	{
		var annotationId = $(this).attr("id").substr(17);
		
		var annotationNode = $("div[id='annotation-" + annotationId + "']'");
		
		if($(annotationNode).hasClass("selected"))
		{
			$(annotationNode).removeClass("selected");
		}
		else
		{
			$(annotationNode).addClass("selected");
		}
		
		var articleId = $("div[id^='article-']").attr("id").substring(8);
		
		highlight(articleId);
	});
	
	function highlight(articleId)
	{
		var nodes = "{\"articleId\":\"" + articleId + "\", \"annotationsId\":[";
		
		var i = 0;
		
		$(".selected").each(function()
		{
			var id = $(this).attr("id").substring(11);
			nodes += "{\"wut\":\"" + id + "\"},";
			i++;
		});
		
		if(i == 0)
		{
			window.location.reload();
		}
		else
		{
			nodes = nodes.substring(0, nodes.length - 1);
			nodes += "]}";
			
			$.ajax(
			{
				headers: { 
			        "Accept" : "text/plain; charset=utf-8",
			    },
				url: "/articleContentAnnotated",
				type: "POST",
				contentType:"application/json",
				data: nodes,
				dataType: "json",
			}).always(function(data)
			{
				$("#article-" + articleId).html(data["responseText"]);
			});
		}
	}
	
});
</script>
