@(articles: List[Article])

@import helper._

@main("Articles") {
  
  <h1>Articles pr&eacute;sents en base de donn&eacute;es</h1>
  
  <p>@articles.size() entr&eacute;e(s) en base de donn&eacute;es</p>
  
    @for(article <- articles) {
      <div class="box_wide">
	      <h2><a href="@routes.UserProfile.article(article.getId.toString, 0)">@article.getTitle</a></h2>
	      <div class="meta_infos">Cr&eacute;&eacute; le : @article.getCreationDate.format("dd/MM/yyyy") par <a href="/user/@article.getAuthor.getNickname">@article.getAuthor.getNickname</a></div>
	      <div class="article_content">
	      	@if(article.getContent.size > 100) {
	      		@Html(article.getContent.substring(0, 100))...
	      		<p><a href="@routes.UserProfile.article(article.getId.toString, 0)">Lire la suite</a></p>
	      	} else {
	      		@Html(article.getContent)
	      	} 
			</div>
			
			@if(article.getAuthor.getNickname.equals(session.get("nickname"))) {
				@form(routes.UserProfile.deleteArticle(article.getId.toString)) {
					<input type="submit" value="Supprimer l'article" class="btn">
				}
			}
		</div>
    }
	
	<p><a href="/newArticle">Cr&eacute;er un nouvel article</a></p>
}