@(article: Article, annotations: List[Annotation])

@import helper._

@main(article.getTitle) {
  
  <h1>@article.getTitle</h1>
  
  <div class="ArticleContent">
  	@Html(article.getContent)
  </div>

	<div class="author">
		@article.getAuthor.getNickname
	</div>
	
	<h2>Annotations : </h2>
	<ul>
    @for(annotation <- annotations) {
      <li><a href="@routes.Application.annotation(annotation.getId.toString)">Porte sur : @annotation.getAnnotated.getTitle</a>
      <div class="content">@Html(annotation.getContent)</div>
      <div class="annotatedContent">@Html(annotation.getAnnotatedContent)</div>
      @form(routes.Application.deleteAnnotation(annotation.getId.toString)) {
                    <input type="submit" value="Delete">
                }
      </li>
    }
  </ul>
}