@(articles: List[Article], articleForm: Form[Article])

@import helper._

@main("Articles") {
  
  <h1>@articles.size() Article(s)</h1>
  
  <ul>
    @for(article <- articles) {
      <li><a href="@routes.Application.article(article.getId.toString)">@article.getTitle</a>
      <div class="creationDate">Created at : @article.getCreationDate</div>
      <div class="content">@Html(article.getContent)</div>
      @form(routes.Application.deleteArticle(article.getId.toString)) {
                    <input type="submit" value="Delete">
                }
      </li>
    }
  </ul>
  
  <h2>Add a new Article</h2>
  
  @form(routes.Application.newArticle()) {
     @inputText(articleForm("title"), '_label -> "Titre :")
     @textarea(
                articleForm("content"), 
                '_label -> "Contenu", 'cols -> 50
            )
     @select(articleForm("author.id"), 
        		options(UserAccount.options()),
        		'_default -> "--- Choose a user ---",
                '_label -> "User"
                )
     <input type="submit" value="Create">
  
  }

}