@(title: String, navbar : Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/elrte.min.css")">-->
        <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/smoothness/jquery-ui-1.8.13.custom.css")">-->
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<!-- <script src="@routes.Assets.at("javascripts/jquery-ui-1.8.13.custom.min.js")" type="text/javascript" charset="utf-8"></script>
		<script src="@routes.Assets.at("javascripts/elrte.min.js")" type="text/javascript" charset="utf-8"></script>-->
		<script src="@routes.Assets.at("tinymce/tiny_mce.js")" type="text/javascript"></script>
    </head>
    <body>	
    	<div id="navbar">
    		<div id="leftSide" class="side">
    			<div id="logo"><a href="/">Argumentea.com</a></div>
    		</div>
    		<div id="middleSide" class="side">@navbar</div>
    		<div id="rightSide" class="side">
    		
    			@if(session.get("nickname") != null) {
    				Bonjour <a href="/myProfile">@session.get("nickname")</a> / <a href="/logout">Déconnexion</a>
    			} else {
    				<a href="/login">CONNEXION</a> / <a href="/register">INSCRIPTION</a>
    			}
    		
    		</div>
    		<div style="clear:both"></div>
    	</div>
    	
    	<div id="content">
    		@content
    	</div>
    </body>
</html>