@(title: String, navbar : Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>	
    	<div id="navbar">
    		<div id="leftSide" class="side">
    			<div id="logo"><a href="/">Argumentea.com</a></div>
    		</div>
    		<div id="middleSide" class="side">@navbar</div>
    		<div id="rightSide" class="side">
    		
    			@if(session.get("nickname") != null) {
    				Bonjour <a href="/myProfile">@session.get("nickname")</a>
    			} else {
    				<a href="/login">CONNEXION</a> / <a href="/register">INSCRIPTION</a>
    			}
    		
    		</div>
    		<div style="clear:both"></div>
    	</div>
    	
    	<div id="content">
    		@content
    	</div>
    </body>
</html>