body
{
	margin:0;
	padding:0;
	border:0;
	font-family:Verdana; 
	background-color:#ebebeb;
}

img
{
	border:0;
	margin:0;
	padding:0;
}

a
{
	text-decoration:none;
	color:#333;
}

a:hover
{
	text-decoration:underline;
}

#navbar
{
	width:100%;
	height:50px;
	padding-top:15px;
	background-color:#FF0000;
	background: #114fb4; /*Old browsers*/
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNGZiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjhkZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #114fb4 0%, #4b8df9 100%); /*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#114fb4), color-stop(100%,#4b8df9)); /*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #114fb4 0%,#4b8df9 100%);/* Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #114fb4 0%,#4b8df9 100%); /*Opera 11.10+*/
	background: -ms-linear-gradient(top, #114fb4 0%,#4b8df9 100%); /*IE10+*/
	background: linear-gradient(to bottom, #114fb4 0%,#4b8df9 100%); /*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114fb4', endColorstr='#4b8df9',GradientType=0 ); /* IE6-8 */
	color:#FFF;
}

#logo
{
	font-size:1.5em;
	font-weight:bold;
}

#navbar .side
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	height:40px;
	float:left;
	text-align:center;
}

#leftSide
{
	width:20%;
	border-right:1px solid #ddd;
}

#middleSide
{
	width:60%;
	border-right:1px solid #ddd;
}

#rightSide
{
	width:20%;
	font-weight:bold;
}

#navbar a
{
	color:#FFF;
	text-decoration:none;
}

#navbar a:hover
{
	text-decoration:underline;
}

#content
{
	padding:20px;
	vertical-align:top;
}

.box
{
	border:1px solid #999;
	background-color:#f5f5f5;
	text-align:left;
	padding:20px;
	margin-right:20px;
	display:inline-block;
	vertical-align:top;
}

.center
{
	width:100%;
	text-align:center;
}

h1
{
	padding:0;
	margin:0 0 10px 0;
}

h2
{
	margin:0 0 20px 0;
	padding:0;
}

h2 a
{
	color:#000;
	text-decoration:none;
}

ul
{
	margin:10px 0 10px 0;
	padding:0;
}

li
{
	list-style-type:none;
	background-color:#ddd;
	padding:3px 5px;
}

li.block
{
	padding:0;
}

li.alt
{
	background-color:#ccc;
}

li:hover
{
	background-color:#eaeaea;
}

li.nav
{
	background-color:transparent;
	list-style-type:square;
	margin-left:20px;
}

li.nav:hover
{
	background-color:#ddd;
}

.box_wide
{
	border:1px solid #999;
	background-color:#f5f5f5;
	padding:10px;
	display:block;
	margin-bottom:10px;
}

.box_wide_big
{
	border:1px solid #999;
	background-color:#f5f5f5;
	padding:20px;
	display:block;
}

.box_content
{
	padding-top:10px;
	padding-bottom:10px;
}

.meta_infos
{
	font-style:italic;
	font-size:0.8em;
	color:#333;
	margin-bottom:20px;
}

#zoneAnnotable
{
	margin-bottom:20px;
}

.btn
{
	margin:10px 0;
}

.annotation
{
	padding:3px 5px;
}

.selected
{
	background-color:#cde6ff;
	padding:10px 20px 10px 20px;
	border:5px solid #999;
}

.annotation .content, .annotatedContent
{
	padding-left:5px;
	border-left:1px solid #666;
	margin-left:5px;
	margin-bottom:20px;
}

h4
{
	margin:5px 0px;
	font-style:italic;
}

.status_info
{
	border:3px solid #4c89e4;
	background-color:#91b2e4;
	color:#3270ce;
	padding:20px;
	font-weight:bold;
}

.status_error
{
	border:3px solid #ce3232;
	background-color:#e0a9a9;
	color:#ce3232;
	padding:20px;
	font-weight:bold;
}

.status_success
{
	border:3px solid #4ab13f;
	background-color:#aee0a9;
	color:#26a019;
	padding:20px;
	font-weight:bold;
}

